* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #68237F;
	margin: 0;
	padding: 0;
}

#container {
	margin: 0 auto;
	max-width: 1000px;
	background-color: #B964D4;
}

.imageHolder {
/*     max-height: 200px; */
/*     overflow: hidden; */
	width: 100%;
/*     background-color: blue; */
/*     margin: 0 auto; */
/*     padding: 0; */
}

.imageHolder img {
/* 	display: block; */
/* 	margin: 0 auto; */
/* 	padding: 10px; */
    width: 100%;
}

#menu {
	margin: 5px auto 30px;
    max-width: 550px;
/*     height: 80px; */
    text-align: center;
    background-color: #54026E;
/*     border-radius: 8px; */
}

#menu ul {
/*     height: auto; */
    padding: 8px 0px;
    margin: 0px;
}

#menu li {
	display: inline;
/* 	padding: 20px; */
}

#menu a {
	text-decoration: none;
	color: white;
	padding: 8px 10px;
/* 	margin: 0px 10px; */
/* 	border-radius: 8px; */
}

#menu a:hover {
/* 	color: black; */
	background-color: #68237F;
}


.storeItem {
	background-color: white;
	max-width: 95%;
	margin: 0 auto;
}

/* .storePic { */
/* 	float: left; */
/* 	background-color: blue; */
/* 	width: 50%; */
/*}*/

.storePic img {
	display: block;
	margin: 0 auto;
	width: 100%;
}

.itemDetails {
	text-align: center;
/* 	float: left; */
/* 	padding: 20px 0px; */
/* 	background-color: green; */
/* 	width: 45%; */
}

.itemDetails h2 {
	padding-top: 10px;
}

.itemDetails p {
	padding-top: 10px;
}

.paypalBuyButton {
	padding: 20px 0px;
}

/*.storeItem > span {
	vertical-align: middle;
	display:table-cell;
	height: 200px;
	padding: 10px;
	background-color: green;
}*/

.paypalForm {
	padding-top: 25px;
}

.floatClearer {
	clear: both;
}

#footer {
	color: #eee;
	clear: both;
	text-align: center;
	padding: 10px 0px;
}