* {
	padding: 0px;
	margin: 0px;
}

body {
	background-color: #68237F;
	background-image: url('http://kevinshort.github.io/auntChristine/images/sewnPurpleStripe.jpg');
	margin: 0;
	padding: 0;
}

#container {
	margin: 0 auto;
	max-width: 1000px;
/* 	background-color: #eed5ff; */
	background-color: #fcfcfc;
/* 	background-image: linear-gradient(to top, #E5E1ED 0%, #FFFFFF 100%); */
/* 	background-color: #C262D3; */
/* 	background-color: #B964D4; */
/* 	background-image: url('/home/kevin/web/work/auntChristine/images/lightPurpleStripe.jpg'); */
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
	border-radius: 0px 0px 5px 5px;
}

.header {
	width: 100%;
	background-color: #3f2860;
/* 	background-color: #b4abec; */
/* 	background-color: #00a0ac; */
}

.headerImage {
	max-width: 750px;
/* 	background-color: #b4abec; */
/* 	background-color: #eed5ff; */
/* 	width: 100%; */
	margin: 0 auto;
}

.headerImage img {
	width: 100%;
/*	max-width: 750px;
	display: block;
	margin: 0 auto;*/
}

.imageHolder {
/*     max-height: 200px; */
/*     overflow: hidden; */
	max-width: 100%;
/*     background-color: blue; */
/*     margin: 0 auto; */
/*     padding: 0; */
}

.imageHolder img {
	display: block;
	margin: 0 auto;
/* 	padding: 10px; */
    max-width: 95%;
}

#menu {
	margin: 5px auto 30px;
    max-width: 600px;
/*     height: 80px; */
    text-align: center;
	background-color: #DC0055;
/*     background-color: #54026E; */
    border-radius: 3px;
/* 	font-size: 18px; */
/*	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #55026E),
		color-stop(1, #8017A3)
	);
	background-image: -o-linear-gradient(top, #55026E 0%, #8017A3 100%);
	background-image: -moz-linear-gradient(top, #55026E 0%, #8017A3 100%);
	background-image: -webkit-linear-gradient(top, #55026E 0%, #8017A3 100%);
	background-image: -ms-linear-gradient(top, #55026E 0%, #8017A3 100%);
	background-image: linear-gradient(to top, #55026E 0%, #8017A3 100%);*/
	
}

#menu ul {
/*     height: auto; */
    padding: 8px 0px;
    margin: 0px;
}

#menu li {
	display: inline;
/* 	padding: 20px; */
}

#menu a {
	text-decoration: none;
	color: white;
	padding: 8px 15px;
	margin: 20px;
	background-image: none;
/* 	border-radius: 8px; */
}

#menu a:hover {
/* 	color: black; */
/* 	background-color: #68237F; */
	background-color: #EE3B80;
	text-decoration: underline;
/*	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #680287),
		color-stop(1, #AD47CF)
	);
	background-image: -o-linear-gradient(top, #680287 0%, #AD47CF 100%);
	background-image: -moz-linear-gradient(top, #680287 0%, #AD47CF 100%);
	background-image: -webkit-linear-gradient(top, #680287 0%, #AD47CF 100%);
	background-image: -ms-linear-gradient(top, #680287 0%, #AD47CF 100%);
	background-image: linear-gradient(to top, #680287 0%, #AD47CF 100%); */
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #DC0054),
		color-stop(1, #EE3B7F)
	);
	background-image: -o-linear-gradient(bottom, #DC0054 0%, #EE3B7F 100%);
	background-image: -moz-linear-gradient(bottom, #DC0054 0%, #EE3B7F 100%);
	background-image: -webkit-linear-gradient(bottom, #DC0054 0%, #EE3B7F 100%);
	background-image: -ms-linear-gradient(bottom, #DC0054 0%, #EE3B7F 100%);
	background-image: linear-gradient(to bottom, #DC0054 0%, #EE3B7F 100%);
}

.article {
	background-color: white;
	max-width: 60%;
	margin: 0 auto;
	padding: 10px;
	border-radius: 3px;
}

.sidebar {
	float: left;
	background-color: white;
	width: 25%;
}

.text {
	float: left;
	width: 70%;
}

.text p {
	text-indent: 1em;
	padding-bottom: .5em;
}

.storeItem {
/* 	background-color: white; */
	max-width: 90%;
	margin: 0 auto;
/* 	height: 270px; */
}

.storePic {
	position: relative;
	float: left;
	background-color: #fcfcfc;
	border-radius: 5px 0px 0px 5px;
/* 	border-style: none; */
	border: 1px solid #DC0055;
/* 	border: 1px solid #C262D3; */
	border-right: 0;
	background-clip: padding-box;
/*	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #E5E1ED),
		color-stop(1, #FFFFFF)
	);
	background-image: -o-linear-gradient(top, #E5E1ED 0%, #FFFFFF 100%);
	background-image: -moz-linear-gradient(top, #E5E1ED 0%, #FFFFFF 100%);
	background-image: -webkit-linear-gradient(top, #E5E1ED 0%, #FFFFFF 100%);
	background-image: -ms-linear-gradient(top, #E5E1ED 0%, #FFFFFF 100%);
	background-image: linear-gradient(to top, #E5E1ED 0%, #FFFFFF 100%);*/
	height: 270px;
	width: 55%;
	overflow: hidden;
	transition: height .5s ease-in;
}

.storePic img {
/* 	display: block; */
/* 	margin: 0 auto; */
	height: 100%;
	border-style: none;
/* 	box-shadow: 0px 0px 10px #333; */
/* 	width: 100%; */
}

.imageLink {
	text-decoration: none;
	border-style: none;
}

.imgOverlay {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 200px;
	padding: 10px;
	color: #111;
	border-radius: 0px 0px 5px;
	background-color: rgba(255, 255, 255, 0.5);
	opacity: 0;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	transition: opacity .2s;
}

.storePic img:hover + .imgOverlay, .imgOverlay:hover {
	opacity: 1;
}

.itemDetails {
/* 	text-align: center; */
	float: left;
	padding-left: 3%;
/* 	padding-bottom: 30px; */
	background-color: #fcfcfc;
/* 	background-color: #3f2860; */
/* 	color: white; */
	border-radius: 0px 5px 5px 0px;
/* 	border: 1px solid #C262D3; */
	border: 1px solid #DC0055;
	border-left: 0;
/*	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #E5E1ED),
		color-stop(1, #FFFFFF)
	);
	background-image: -o-linear-gradient(top, #E5E1ED 0%, #FFFFFF 100%);
	background-image: -moz-linear-gradient(top, #E5E1ED 0%, #FFFFFF 100%);
	background-image: -webkit-linear-gradient(top, #E5E1ED 0%, #FFFFFF 100%);
	background-image: -ms-linear-gradient(top, #E5E1ED 0%, #FFFFFF 100%);
	background-image: linear-gradient(to top, #E5E1ED 0%, #FFFFFF 100%);*/
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	width: 40%;
	height: 270px;
	transition: height .5s ease-in;
}

.itemDetails h1 {
	padding-top: 30px;
	padding-right: 10px;
	font-size: 22px;
}

.itemDetails p {
	padding-top: 10px;
}

.paypalBuyButton {
	padding-top: 10px;
}

/*.storeItem > span {
	vertical-align: middle;
	display:table-cell;
	height: 200px;
	padding: 10px;
	background-color: green;
}*/

.paypalForm {
	padding-top: 30px;
}

.textWrap {
	float: left;
	margin-right: 15px;
	margin-bottom: 10px;
}

.floatClearer {
	clear: both;
/* 	background-color: blue; */
}

#footer {
	color: #111;
	clear: both;
	text-align: center;
	padding: 20px 0px;
	font-size: 12px;
}

@media only screen and (max-width: 900px) {
/*	.storePic img {
		height: auto;
		width: 100%;
	}*/
	.storePic {
		height: 220px;
	}
	.itemDetails {
		height: 220px;
	}
}


/* Media Queries */
@media only screen and (max-width: 700px) {
	#container {
		border-radius: 0px;
	}
	.headerImage {
		max-width: 100%;
	}
	.imageHolder {
		width: 100%;
	}
	.imageHolder img {
		width: 100%;
	}
	#menu {
		border-radius: 0px;
	}
	#menu a {
		padding: 8px 8px;
		margin: 0px;
	}
	.article {
		max-width: 90%;
	}
	.storeItem {
		max-width: 95%;
	}
	.storePic {
		clear: both;
		width: 100%;
		height: auto;
		border-radius: 5px 5px 0px 0px;
		border: 1px solid #DC0055;
		border-bottom: 0;
	}
	.storePic img {
		height: auto;
		display: block;
		margin: 0 auto;
		width: 100%;
	}
	.itemDetails {
		clear: both;
		padding: 0px;
		width: 100%;
		height: auto;
		border-radius: 0px 0px 5px 5px;
		border: 1px solid #DC0055;
		border-top: 0;
		text-align: center;
	}
	.itemDetails h2 {
		padding: 10px;
	}
	.paypalBuyButton {
		padding: 20px 0px;
	}
}


/*bad animation*/
@-webkit-keyframes BadAnim {
	0% { left: -800px; top: 10px; }
	50% {left: 30%; top: 200px; }
	100% { left: 100%; top: 100px; }
}
@-moz-keyframes BadAnim {
	0% { left: -800px; top: 10px; }
	50% {left: 30%; top: 200px; }
	100% { left: 100%; top: 100px; }
}
@-0-keyframes BadAnim {
	0% { left: -800px; top: 10px; }
	50% {left: 30%; top: 200px; }
	100% { left: 100%; top: 100px; }
}
@keyframes BadAnim {
	0% { left: -800px; top: 10px; }
	50% {left: 30%; top: 200px; }
	100% { left: 100%; top: 100px; }
}

.badAnimation {
	position: absolute;
	-webkit-animation: BadAnim 15s infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation: BadAnim 15s infinite;
	-moz-animation-timing-function: linear;
	-o-animation: BadAnim 15s infinite;
	-o-animation-timing-function: linear;
	animation: BadAnim 15s infinite;
	animation-timing-function: linear;
	z-index: 9999;
}

.badAnimation:hover {
	border: 5px dashed red;
}