@font-face {
	font-family: "Nobile";
	src: url('/auntChristine/fonts/nobile/Nobile-Regular.ttf');
}
@font-face {
	font-family: "Oswald";
	src: url('/auntChristine/fonts/oswald/Oswald-Regular.otf');
}
@font-face {
	font-family: "Aller";
	src: url('/auntChristine/fonts/aller/Aller_Rg.ttf');
}
@font-face {
	font-family: "Open-Sans";
	src: url('/auntChristine/fonts/open-sans/OpenSans-Regular.ttf');
}
	
* {
	padding: 0;
	margin: 0;
}

body {
/* 	background-color: #68237F; */
	background-color: #e0d4ff;
	background-image: url('http://kevinshort.github.io/auntChristine/images/sewnPurpleStripe.jpg');
	margin: 0;
	padding: 0;
}

#container {
	margin: 0 auto;
	max-width: 1000px;
	min-height: 700px;
	background-color: #f6e9ff;
/* 	background-color: #eed5ff; */
/* 	background-color: #fcfcfc; */
/* 	background-image: linear-gradient(to top, #E5E1ED 0%, #FFFFFF 100%); */
/* 	background-color: #C262D3; */
/* 	background-color: #B964D4; */
/* 	background-image: url('/home/kevin/web/work/auntChristine/images/lightPurpleStripe.jpg'); */
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
	border-radius: 0px 0px 5px 5px;
}

.header {
	width: 100%;
	overflow: auto;
	position: relative;
/* 	box-shadow: 0px 5px 5px -5px #00909b; */
/* 	background-color: #3f2860; */
/* 	background-color: #b4abec; */
	background-color: #00a0ac;
/* 	background-color: #DC0055; */
}

.headerImage {
	max-width: 550px;
/* 	margin: 0 auto; */
/* 	float: left; */
/* 	outline: 1px solid white; */
/* 	max-width: 750px; */
/* 	background-color: #b4abec; */
/* 	background-color: #eed5ff; */
/* 	width: 100%; */
/* 	margin: 0 auto; */
}

.headerImage img {
	width: 100%;
	display: block;
/* 	float: left; */
/* 	outline: 1px solid black; */
/* 	margin-bottom: -3px; */
/*	max-width: 750px;
	display: block;
	margin: 0 auto;*/
}

.imageHolder {
/*     max-height: 200px; */
/*     overflow: hidden; */
	max-width: 100%;
/*     background-color: blue; */
/*     margin: 0 auto; */
/*     padding: 0; */
}

.imageHolder img {
	display: block;
	margin: 0 auto;
/* 	padding: 10px; */
    max-width: 95%;
}

#menu {
	margin: 0px auto 30px;
	width: 100%;
/*     max-width: 550px; */
/*     height: 80px; */
    text-align: center;
/* 	background-color: #9830dc; */
	background-color: #DC0055;
/*     background-color: #54026E; */
/*     border-radius: 0 0 3px 3px; */
/* 	box-shadow: 1px 1px 0px 1px #ab0033; */
/* 	font-size: 18px; */
/*	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #55026E),
		color-stop(1, #8017A3)
	);
	background-image: -o-linear-gradient(top, #55026E 0%, #8017A3 100%);
	background-image: -moz-linear-gradient(top, #55026E 0%, #8017A3 100%);
	background-image: -webkit-linear-gradient(top, #55026E 0%, #8017A3 100%);
	background-image: -ms-linear-gradient(top, #55026E 0%, #8017A3 100%);
	background-image: linear-gradient(to top, #55026E 0%, #8017A3 100%);*/
	
}

#menu ul {
/*     height: auto; */
    padding: 8px 0px;
    margin: 0px;
}

#menu li {
	display: inline;
/* 	padding: 20px; */
}

#menu a {
	text-decoration: none;
	color: white;
	padding: 8px 10px;
	margin: 20px;
	background-image: none;
	font-family: "Aller", Fallback, sans-serif;
/* 	border-radius: 8px; */
}

#menu a.active {
	background-image: linear-gradient(to bottom, #DC0054 0%, #EE3B7F 100%);
}

#menu a:hover{
/* 	color: black; */
/* 	background-color: #68237F; */
	background-color: #EE3B80;
	text-decoration: underline;
/*	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #680287),
		color-stop(1, #AD47CF)
	);
	background-image: -o-linear-gradient(top, #680287 0%, #AD47CF 100%);
	background-image: -moz-linear-gradient(top, #680287 0%, #AD47CF 100%);
	background-image: -webkit-linear-gradient(top, #680287 0%, #AD47CF 100%);
	background-image: -ms-linear-gradient(top, #680287 0%, #AD47CF 100%);
	background-image: linear-gradient(to top, #680287 0%, #AD47CF 100%); */
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #DC0054),
		color-stop(1, #EE3B7F)
	);
	background-image: -o-linear-gradient(bottom, #DC0054 0%, #EE3B7F 100%);
	background-image: -moz-linear-gradient(bottom, #DC0054 0%, #EE3B7F 100%);
	background-image: -webkit-linear-gradient(bottom, #DC0054 0%, #EE3B7F 100%);
	background-image: -ms-linear-gradient(bottom, #DC0054 0%, #EE3B7F 100%);
	background-image: linear-gradient(to bottom, #DC0054 0%, #EE3B7F 100%);
}

.slideshow {
	width: 90%;
	margin: 0 auto;
}

.article {
	background-color: white;
	max-width: 80%;
/* 	min-height: 350px; */
	margin: 0 auto;
	padding: 15px ;
	border-radius: 3px;
	font-family: "Open-Sans", Fallback, sans-serif;
}

.article p {
	margin-bottom: 1em;
	font-size: 1.1em;
}

h1.contact {
/* 	float: left; */
	padding-right: 30px;
	padding-bottom: 0.5em;
	font-size: 1.4em;
}

a.button {
	background-color: #DC0055;
	border-radius: 5px;
	padding: 5px 15px;
	text-decoration: none;
/* 	text-shadow: #fff 0 1px 0; */
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
	display: block;
	color: white;
	font-size: 1.1em;
	font-weight: bold;
}

a.button:hover {
	padding: 4px 15px 6px;
}

a.button img {
	height: 18px;
	padding-right: 10px;
}

.storeItem {
/* 	background-color: white; */
	max-width: 90%;
	margin: 0 auto;
/* 	height: 270px; */
}

.storeItem ul {
	color: #222;
	font-size: 0.85em;
	padding-left: 1.5em;
	padding-top: 1.2em;
}

.storePic {
	position: relative;
	float: left;
	background-color: #fcfcfc;
	border-radius: 5px 0px 0px 5px;
/* 	border-style: none; */
/* 	border: 1px solid #DC0055; */
/* 	border: 1px solid #C262D3; */
	border-right: 0;
	background-clip: padding-box;
/*	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #E5E1ED),
		color-stop(1, #FFFFFF)
	);
	background-image: -o-linear-gradient(top, #E5E1ED 0%, #FFFFFF 100%);
	background-image: -moz-linear-gradient(top, #E5E1ED 0%, #FFFFFF 100%);
	background-image: -webkit-linear-gradient(top, #E5E1ED 0%, #FFFFFF 100%);
	background-image: -ms-linear-gradient(top, #E5E1ED 0%, #FFFFFF 100%);
	background-image: linear-gradient(to top, #E5E1ED 0%, #FFFFFF 100%);*/
	height: 270px;
	width: 55%;
	overflow: hidden;
/* 	transition: height .5s ease-in; */
}

.storePic img {
/* 	display: block; */
/* 	margin: 0 auto; */
	height: 100%;
	border-style: none;
/* 	box-shadow: 0px 0px 10px #333; */
/* 	width: 100%; */
}

.multiChoice {
	background-color: white;
	border-radius: 5px;
	overflow: auto;
}

.multiChoice .storePic {
	height: 270px;
	background: none;
}
.multiChoice .storePic img {
	height: 270px;
}
.multiChoice .itemDetails {
	height: 270px;
	background: none;
}
.multiChoice ul {
	padding: 0;
}

#hatChoicesPager img {
	width: 100%;
	height: auto;
}
#hatChoicesPager p {
	padding: 0;
	color: black;
	text-align: center;
}

.captionImg {
	background: #fee;
	border-radius: 5px;
	border: 1px solid #aaa;
	padding: 1%;
	margin: 1%;
	float: left;
	max-width: 140px;
	width: 25%;
}
.captionImg:hover {
	border: 1px solid #555;
	background: #fdd;
}
.captionImg a {
	text-decoration: none;
	outline: none;
}

#hatChoicesPager .activePager {
	border: 1px solid #222;
	background: #fcc;
}

.imageLink {
	text-decoration: none;
	border-style: none;
}

.imgOverlay {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 200px;
	padding: 10px;
	color: #111;
	border-radius: 0px 0px 5px;
	background-color: white;
	background-color: rgba(255, 255, 255, 0.7);
	opacity: 0;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	transition: opacity .2s;
}

.storePic img:hover + .imgOverlay, .imgOverlay:hover {
	opacity: 1;
}

.itemDetails {
/* 	text-align: center; */
	float: left;
	padding-left: 3%;
/* 	padding-bottom: 30px; */
	background-color: #fcfcfc;
/* 	background-color: #3f2860; */
/* 	color: white; */
	border-radius: 0px 5px 5px 0px;
/* 	border: 1px solid #C262D3; */
/* 	border: 1px solid #DC0055; */
	border-left: 0;
/*	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #E5E1ED),
		color-stop(1, #FFFFFF)
	);
	background-image: -o-linear-gradient(top, #E5E1ED 0%, #FFFFFF 100%);
	background-image: -moz-linear-gradient(top, #E5E1ED 0%, #FFFFFF 100%);
	background-image: -webkit-linear-gradient(top, #E5E1ED 0%, #FFFFFF 100%);
	background-image: -ms-linear-gradient(top, #E5E1ED 0%, #FFFFFF 100%);
	background-image: linear-gradient(to top, #E5E1ED 0%, #FFFFFF 100%);*/
/* 	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; */
	font-family: "Nobile", Fallback, sans-serif;
	width: 40%;
	height: 270px;
/* 	transition: height .5s ease-in; */
}

.itemDetails h1 {
	padding-top: 30px;
	padding-right: 10px;
	font-size: 1.2em;
	color: #222;
}

.itemDetails p {
	padding-top: 10px;
	padding-right: 10px;
}

.addToCart {
/* 	padding-top: 10px; */
	border: none;
	border-radius: 5px;
/* 	background-color: #9830dc; */
	background-color: #DC0055;
	background-image: none;
	color: white;
	padding: 5px;
	font-size: 1em;
	font-family: "Aller", Fallback, sans-serif;
	margin-top: 10px;
/* 	box-shadow: 0px 1px 0px 1px #7324a7; */
	box-shadow: 0px 1px 0px 1px #ab0033;
}

.addToCart:hover{
	text-decoration: underline;
	cursor: pointer;
	background-image: linear-gradient(to bottom, #DC0054 0%, #EE3B7F 100%);
}

/*.storeItem > span {
	vertical-align: middle;
	display:table-cell;
	height: 200px;
	padding: 10px;
	background-color: green;
}*/

.paypalForm {
	padding-top: 30px;
}

#viewCart {
	position: absolute;
/* 	bottom: 0; */
	right: 0;
	top: 0;
/* 	padding-top: 10px; */
}
#viewCart input {
	font-size: 1em;
	font-family: "Aller", Fallback, sans-serif;
	color: white;
/* 	background-color: #9830dc; */
	background-color: #DC0055; 
	background-image: none;
	border: none;
	border-radius: 0 0 5px 5px;
	padding: 10px 5px 5px 5px;
	margin-right: 10px;
/* 	box-shadow: 0px 1px 0px 1px #7324a7; */
	box-shadow: 0px 1px 0px 1px #ab0033;
}

#viewCart input:hover {
	text-decoration: underline;
	cursor: pointer;
	background-image: linear-gradient(to bottom, #DC0054 0%, #EE3B7F 100%);
}

.floatClearer {
	clear: both;
/* 	background-color: blue; */
}

#disclaimer {
	width: 60%;
	background-color: white;
	border-radius: 5px 5px 0 0;
	margin: 1em auto;
	padding: 15px;
}
#disclaimer p {
	color: #333;
	font-size: 0.8em;
	font-family: sans-serif;
}

#footer {
	color: #111;
	clear: both;
	text-align: center;
	padding: 20px 0px;
	font-size: 0.8em;
	font-family: sans-serif;
}


@media only screen and (max-width: 700px) {
/*	.storePic img {
		height: auto;
		width: 100%;
	}*/
	.storePic {
		height: 220px;
	}
	.itemDetails {
		height: 220px;
	}
	.itemDetails h1 {
		padding-top: 10px;
		font-size: 1em;
	}
	.itemDetails p {
		font-size: 0.9em;
	}
	/*.captionImg {
		width: 32%;
	}*/
	.paypalForm {
		padding-top: 10px;
	}
	#disclaimer {
		width: 80%;
	}
}

/* @media only screen and (max-width: 600px) { */
/*	.storePic img {
		height: auto;
		width: 100%;
	}*/
	/*.storePic {
		height: 180px;
	}
	.itemDetails {
		height: 180px;
	}
	
	.itemDetails h1 {
		padding-top: 5px;
	}
	.paypalForm {
		padding-top: 10px;
	}
}*/


/* Media Queries */
@media only screen and (max-width: 600px) {
	#container {
		border-radius: 0px;
	}
	.headerImage {
		max-width: 100%;
	}
	.imageHolder {
		width: 100%;
	}
	.imageHolder img {
		width: 100%;
	}
	.slideshow {
		width: 100%;
	}
	#menu {
		border-radius: 0px;
		margin-bottom: 0;
	}
	#menu a {
		padding: 8px 6px;
		margin: 0px;
	}
	.article {
		max-width: 90%;
	}
	.storeItem {
		max-width: 95%;
		margin-top: 10px;
	}
	.storePic {
		clear: both;
		width: 100%;
		height: auto;
		border-radius: 5px 5px 0px 0px;
/* 		border: 1px solid #DC0055; */
		border-bottom: 0;
	}
	.storePic img {
		height: auto;
		display: block;
		margin: 0 auto;
		width: 100%;
	}
	.multiChoice .storePic img {
		height: auto;
		display: block;
		margin: 0 auto;
		width: 100%;
	}
	.multiChoice .storePic {
		height: auto;
	}
	.multiChoice .itemDetails {
		height: auto;
	}
	/*.captionImg {
		width: 25%;
	}*/
	.itemDetails {
		clear: both;
		padding: 0px;
		width: 100%;
		height: auto;
		border-radius: 0px 0px 5px 5px;
/* 		border: 1px solid #DC0055; */
		border-top: 0;
		text-align: center;
	}
	.itemDetails h2 {
		padding: 10px;
	}
	.itemDetails p {
		padding-left: 20px;
		padding-right: 20px;
	}
	.paypalForm {
		padding-top: 10px;
	}
	.addToCart {
/* 		padding: 20px 0px; */
		margin: 20px 0px;
	}
	a.button {
		background-color: #DC0055;
		border-radius: 5px;
		padding: 5px 10px;
		float: left;
		margin-right: 10px;
		margin-bottom: 10px;
		display: block;
		color: white;
		font-size: 0.9em;
		font-weight: bold;
	}
	a.button:hover {
		padding: 4px 10px 6px;
	}
	#disclaimer {
		width: 90%;
	}
}


