* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #68237F;
	
	margin: 0;
	padding: 0;
}

#container {
	margin: 0 auto;
	max-width: 1000px;
	background-color: #B964D4;
/* 	background-image: url('http://www.colourbox.com/preview/2199143-303852-a-knitted-texture-made-of-yarn-this-tiles-seamlessly-as-a-pattern.jpg'); */
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
	border-radius: 0px 0px 5px 5px;
}

.imageHolder {
/*     max-height: 200px; */
/*     overflow: hidden; */
	max-width: 100%;
/*     background-color: blue; */
/*     margin: 0 auto; */
/*     padding: 0; */
}

.imageHolder img {
	display: block;
	margin: 0 auto;
/* 	padding: 10px; */
    max-width: 95%;
}

#menu {
	margin: 5px auto 30px;
    max-width: 600px;
/*     height: 80px; */
    text-align: center;
    background-color: #54026E;
    border-radius: 3px;
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #55026E),
		color-stop(1, #8017A3)
	);
	background-image: -o-linear-gradient(top, #55026E 0%, #8017A3 100%);
	background-image: -moz-linear-gradient(top, #55026E 0%, #8017A3 100%);
	background-image: -webkit-linear-gradient(top, #55026E 0%, #8017A3 100%);
	background-image: -ms-linear-gradient(top, #55026E 0%, #8017A3 100%);
	background-image: linear-gradient(to top, #55026E 0%, #8017A3 100%);
	
}

#menu ul {
/*     height: auto; */
    padding: 8px 0px;
    margin: 0px;
}

#menu li {
	display: inline;
/* 	padding: 20px; */
}

#menu a {
	text-decoration: none;
	color: white;
	padding: 8px 20px;
	margin: 20px;
	background-image: none;
/* 	border-radius: 8px; */
}

#menu a:hover {
/* 	color: black; */
	background-color: #68237F;
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #680287),
		color-stop(1, #AD47CF)
	);
	background-image: -o-linear-gradient(top, #680287 0%, #AD47CF 100%);
	background-image: -moz-linear-gradient(top, #680287 0%, #AD47CF 100%);
	background-image: -webkit-linear-gradient(top, #680287 0%, #AD47CF 100%);
	background-image: -ms-linear-gradient(top, #680287 0%, #AD47CF 100%);
	background-image: linear-gradient(to top, #680287 0%, #AD47CF 100%);
	}

.article {
	background-color: white;
	max-width: 70%;
	margin: 0 auto;
	padding: 10px;
}


.storeItem {
/* 	background-color: green; */
	max-width: 90%;
	margin: 0 auto;
}

.storePic {
	position: relative;
	float: left;
	background-color: #fcfcfc;
	border-radius: 5px 0px 0px 5px;
	border-style: none;
	border-right: 0;
	background-clip: padding-box;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #E5E1ED),
		color-stop(1, #FFFFFF)
	);
	background-image: -o-linear-gradient(top, #E5E1ED 0%, #FFFFFF 100%);
	background-image: -moz-linear-gradient(top, #E5E1ED 0%, #FFFFFF 100%);
	background-image: -webkit-linear-gradient(top, #E5E1ED 0%, #FFFFFF 100%);
	background-image: -ms-linear-gradient(top, #E5E1ED 0%, #FFFFFF 100%);
	background-image: linear-gradient(to top, #E5E1ED 0%, #FFFFFF 100%);
	
	height: 270px;
	width: 55%;
	overflow: hidden;
}

.storePic img {
/* 	display: block; */
/* 	margin: 0 auto; */
	height: 280px;
	border-style: none;
/* 	width: 100%; */
}

.imageLink {
	text-decoration: none;
	border-style: none;
}

.imgOverlay {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 200px;
	padding: 10px;
	color: #111;
	border-radius: 0px 0px 5px;
	background-color: rgba(255, 255, 255, 0.5);
	opacity: 0;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	transition: opacity .2s;
}

.storePic img:hover + .imgOverlay, .imgOverlay:hover {
	opacity: 1;
}

.itemDetails {
/* 	text-align: center; */
	float: left;
	padding-left: 20px;
/* 	padding-bottom: 30px; */
	background-color: #fcfcfc;
	border-radius: 0px 5px 5px 0px;
/* 	border: 2px solid #333; */
	border-left: 0;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #E5E1ED),
		color-stop(1, #FFFFFF)
	);
	background-image: -o-linear-gradient(top, #E5E1ED 0%, #FFFFFF 100%);
	background-image: -moz-linear-gradient(top, #E5E1ED 0%, #FFFFFF 100%);
	background-image: -webkit-linear-gradient(top, #E5E1ED 0%, #FFFFFF 100%);
	background-image: -ms-linear-gradient(top, #E5E1ED 0%, #FFFFFF 100%);
	background-image: linear-gradient(to top, #E5E1ED 0%, #FFFFFF 100%);
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	width: 40%;
	height: 270px;
}

.itemDetails h2 {
	padding-top: 30px;
}

.itemDetails p {
	padding-top: 10px;
}

.paypalBuyButton {
	padding-top: 10px;
}

/*.storeItem > span {
	vertical-align: middle;
	display:table-cell;
	height: 200px;
	padding: 10px;
	background-color: green;
}*/

.paypalForm {
	padding-top: 30px;
}

.textWrap {
	float: left;
	margin-right: 15px;
	margin-bottom: 10px;
}

.floatClearer {
	clear: both;
/* 	background-color: blue; */
}

#footer {
	color: #eee;
	clear: both;
	text-align: center;
	padding: 20px 0px;
}


/* Media Queries */
@media only screen and (max-width: 749px) {
	#container {
		border-radius: 0px;
	}
	.imageHolder {
		width: 100%;
	}
	.imageHolder img {
		width: 100%;
	}
	#menu {
		border-radius: 0px;
	}
	#menu a {
		padding: 8px 8px;
		margin: 0px;
	}
	.article {
		max-width: 90%;
	}
	.storeItem {
		max-width: 95%;
	}
	.storePic {
		clear: both;
		width: 100%;
		height: auto;
		border-radius: 5px 5px 0px 0px;
	}
	.storePic img {
		height: auto;
		display: block;
		margin: 0 auto;
		width: 100%;
	}
	.itemDetails {
		clear: both;
		padding: 0px;
		width: 100%;
		height: auto;
		border-radius: 0px 0px 5px 5px;
		text-align: center;
	}
	.itemDetails h2 {
		padding: 10px;
	}
	.paypalBuyButton {
		padding: 20px 0px;
	}
}