body {
    background-color:lightgray;
    padding: 0;
    margin: 0;
	height: 100%;
}

.header {
    background-color: #6EC244;
    font: 16px Tahoma;
    padding: 10px;
    margin: 0;
    overflow: hidden;
    list-style: none;
}

.header li {
    display: inline;
}

.header img {
	max-height: 20px;
}

.header a {
    text-decoration: none;
    color: black;
    padding: 15px;
}

.header a:visited {
    color: black;
}

.header a:hover {
	background-color: #5db133;
}

.headerImage {
    max-height: 200px;
    overflow: hidden;
    background-color: gray;
    margin: 0;
    padding: 0;
}

.headerImage img {
    width: 100%;
    min-height: 50px;
    display: block;
    margin: auto;
}

.article {
    padding: 20px;
    max-width: 800px;
    margin: 0px auto;
    background-color: white;
}

.article a {
    color: #226;
}

h1 {
    color: #222;
    font-size: 20px;
}

.centerAlign {
    text-align: center;
}

code pre{
    background-color: #cde;
    padding: 10px;
    border: 1px solid gray;
    overflow: auto;
}

canvas {
    border: 1px solid gray;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

button {
    text-align: center;
}

/*.article p {
	text-indent: 0.5em;
}*/

.shapedLink {
    display: inline-block;
    vertical-align: top;
    height: 100px;
    width: 120px;
    padding: 10px;
    background-color: #DE8E1F;
    color: black;
    font: bold 16px Tahoma;
    overflow: hidden;
    border: 1px solid white;
    transition: border .1s linear;
}

.shapedLink:hover {
    border: 1px solid #222;
}

.shapedLink p {
    padding: 5px;
}

.shapedLink code {
    color: #bd6c0d;
}

.imagediv {
	width: 95%;
	margin: 0 auto;
}

.imagediv * {
    padding: 0;
    margin: 0;
}

.imagediv img {
/* 	border: 1px solid white; */
    width: 120px;
/*	transition: border .1s linear;*/
}

/*.imagediv img:hover {
	border: 1px solid #444;
}*/

.footer {
    margin: 0px;
	text-align: center;
	padding: 10px;
}

.footer a {
    color: #666;
    font-size: 12px;
    margin: 5px;
}

.footer p {
    padding: 0px;
	margin: 15px;
	color: #666;
	font-size: 12px;
}
