body {
    background-color:lightgray;
    padding: 0;
    margin: 0;
	height: 100%;
}

.header {
    background-color: #6EC244;
    font: 16px Tahoma;
	padding: 5px 0px;
}

.header img {
	max-height: 20px;
}

.header a {
    /*text-decoration: none;*/
    color: black;
	padding: 10px;
}

.header a:visited {
    color: black;
}

.header a:hover {
	background-color: #5db133;
}

.imageholder {
    max-height: 200px;
    overflow: hidden;
    background-color: gray;
    margin: 0;
    padding: 0;
}

.imageholder img {
    width: 100%;
    display: block;
    margin: auto;
}

.article {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    background-color: white;
}

.article p {
	text-indent: 0.5em;
}

.imagediv {
	width: 95%;
	margin: 0 auto;
}

.imagediv img {
	border: 1px solid white;
    width: 120px;
	transition: border .1s linear;
}

.imagediv img:hover {
	border: 1px solid #444;
}

.footer {
	text-align: center;
	padding: 10px;
}

.footer a {
    color: #666;
    font-size: 12px;
}

.footer p {
	padding: 0;
	margin: 15px;
	color: #666;
	font-size: 12px;
}
